{% extends "base.html" %}

{% block the_body %}
        <img src='/static/pumpkin.jpeg'>
        <ol>
            <li>This is my first webpage.
            <li>Isn't it lovely?
            <li>How cool am I?
        </ol>

        <form action='/processform' method='POST'>
            <table border="1">
                <tr>
                    <td>What is your name?</td>
                    <td><input type="text" name="thename"></td>
                </tr>
                <tr>
                    <td>What age are you?</td>
                    <td><input type="text" name="theage"></td>
                </tr>
                <tr>
                    <td>What is your location?</td>
                    <td><input type="text" name="thelocation" width="64"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Tell me 2"></td>
                </tr>

            </table>
        </form>
{% endblock %}  